# Python bytecode cache files
**/src/__pycache__

# Microsoft Word documents
*.docx

# files starting with '~' (temporary files)
~*

# Visual Studio Code settings
.vscode

# Images
*.png
*.jpg
*.jpeg

# Additional information and code
sample

# Additional Ignore Patterns (if needed)