# Python bytecode cache files
**/src/__pycache__

# Microsoft Word documents
*.docx

# files starting with '~' (temporary files)
~*

# Visual Studio Code settings
.vscode

# Images
*.png
*.jpg
*.jpeg

# Additional information and code
sample

# Work that I posted on the Kaggle
heart-disease-analysis

# Reports for the university
doc

# Additional Ignore Patterns (if needed)